/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #333;
    margin: 20px 0;
}

/* Estilos para la sección de búsqueda */
.search {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.search input[type="text"] {
    flex: 1;
    padding: 10px;
    border: 2px solid #ddd;
    border-radius: 5px;
}

.search button {
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    margin-left: 10px;
}

/* Estilos para los formularios */
form {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

form h2 {
    color: #333;
    margin: 0 0 20px;
}

form label {
    display: block;
    margin: 10px 0;
    color: #555;
}

form input[type="text"],
form input[type="number"],
form input[type="email"],
form select {
    width: 100%;
    padding: 10px;
    border: 2px solid #ddd;
    border-radius: 5px;
}

form button {
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
}

/* Estilos para la lista de campers */
#camperList {
    margin-top: 20px;
}

.camper-card {
    border: 1px solid #ddd;
    background-color: #fff;
    padding: 20px;
    margin: 0 0 20px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.camper-card p {
    color: #333;
    margin: 0;
}

/* Estilos para la sección de conceptos */
.container-concept {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

/* Estilos para la lista de conceptos aplicados */
#conceptosAplicados {
    margin-top: 20px;
    list-style: none;
    padding: 0;
}

#conceptosAplicados li {
    margin: 0 0 10px;
    padding: 0;
    color: #555;
}

/* Estilos para botones */
.btn {
    text-align: center;
    text-decoration: none;
    display: inline-block;
    padding: 8px 16px;
    border: 1px solid #007BFF;
    border-radius: 5px;
    background-color: #007BFF;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

.btn:hover {
    background-color: #0056b3;
    border-color: #0056b3;
}

/* Estilos para los errores */
.error-message {
    color: #FF0000;
}
